$primary-color: #7ea172;
$secondary-color: #eef5db;
$tertiary: #3f293c;

.artigos {
  height: 93vh;
  width: 100%;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80vw;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-slide {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: $primary-color;
  width: 75vw;
  height: 74vh;
  box-sizing: border-box;
}
.active {
  display: block;
}
#button,
#button1 {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.artigo-lambda {
  width: 35vw;
  height: 74vh;
}
