body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.col1, .col2{
    height: 100vh;
}
.col1{
    position: relative;
    background-color: #b0bec5;}
.col2{
    overflow-y: scroll;
    background-color: #37474f;
}
.capa{
    border-radius: 50%;
}
.navegacao{
    background-color: #607d8b;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50% - 50px) ;
    top: 12%;
}
.sub{
    position: relative;
    top: 170px;
    left: calc(50% - 62px) ;
}
.lista{
    position: absolute;
    top: 200px;
    width: 80px;
    left: calc(50% - 40px);
}
.image{
    position: relative;
    top: 300px;
    left: calc(50% - 100px);
}
.content{
    display: none;
}
.content.active{
    display: block;
}
li{
    margin: 3px;
}
button {
    width: 80px;
    height: 25px;
    background-color: #607d8b;
    border: #77b1ce;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
button:hover {
    background-color:#37474f;
}
.btn1, .btn2, .btn3{
    position: relative;
    top: 290px;
    width: 30px;
    height: 30px;
    padding-left: 8px;
    padding-top: 3px;
    left: calc(50% - 60px);
    display: inline-block;
    margin-right: 10px;
    background-color: #37474f; /* Cor do LinkedIn */
    color: #fff; /* Cor do texto */
    border-radius: 15%; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Transição suave de cor */
}
.btn1:hover, .btn2:hover, .btn3:hover{
    background-color:#adaeaf;
}
