$primary-color: #1e2228;
$secondary-color: #dec9b3;
$tertiary: #3f293c;
$quaternary: #70413c;
$quinary: #274a4c;

.noto-serif-jpuniquifier {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: $quinary;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    background: $primary-color;
    overflow: hidden;
    position: relative;
}

@keyframes smokeMove {
    0% {
        transform: translateY(100vh) translateX(0) rotate(0) scale(1);
        opacity: 0.2;
    }
    25% {
        transform: translateY(50vh) translateX(10vw) rotate(15deg) scale(1.2);
        opacity: 0.4;
    }
    50% {
        transform: translateY(0) translateX(-10vw) rotate(30deg) scale(1.5);
        opacity: 0.3;
    }
    75% {
        transform: translateY(-50vh) translateX(10vw) rotate(15deg) scale(1.2);
        opacity: 0.2;
    }
    100% {
        transform: translateY(-100vh) translateX(0) rotate(0) scale(1);
        opacity: 0.9;
    }
}

.smoke {
    position: absolute;
    background: radial-gradient(circle, $quinary, transparent);
    border-radius: 50%;
    animation: smokeMove 20s infinite ease-in-out;
    filter: blur(40px);
}

.smoke:nth-child(1) {
    left: 5%;
    animation-delay: 0s;
    width: 150px;
    height: 150px;
}

.smoke:nth-child(2) {
    left: 20%;
    animation-delay: 5s;
    width: 200px;
    height: 200px;
}

.smoke:nth-child(3) {
    left: 40%;
    animation-delay: 10s;
    width: 250px;
    height: 250px;
}
.smoke:nth-child(4) {
    left: 60%;
    animation-delay: 10s;
    width: 150px;
    height: 150px;
}
.smoke:nth-child(5) {
    left: 80%;
    animation-delay: 5s;
    width: 200px;
    height: 200px;
}